.main-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
.main-slide h1 {
    font-weight: 500;
    color: #222222;
}
.main-slide p {
    font-family: "Georama", serif;
    font-size: 2rem;
    font-weight: 300;
    color: #1e1e1e;
    text-align: center;
    text-wrap: wrap;
    width: 48rem;
}
